@CHARSET "UTF-8";

body{
	margin: 0;
	font-family: sans-serif;
}

/*HEADER*/
body > header, body > footer {
	background: #fff;
	border: #eee 1px solid;
	border-right: #bbb 0.25em solid;
	border-bottom: #bbb 0.25em solid;
	border-radius: 0.5em;
	padding-left: 0.5em;
	font-variant: small-caps;
}
body > footer {
	text-align: center;
}

header h1 {
	color: #666;
	display: inline-block;
}

header h1 :LINK, header h1 :VISITED{
	color: #666;
	text-decoration: overline underline;
	
}
header h2 {
	display: inline-block;
	font-size: medium;
	font-style: italic;
} 
/**********/
/***MAIN***/
/**********/
/******/
/*View*/
/******/
.viewGroup{
	background: #eee;
	position: relative;
	padding-left: 1px;
	padding-right: 0;	
	right : 0;
	overflow: auto;
}

/* Labels */
.timeLabel{
	position: static;
	background: white;
	margin-left: 0;
	margin-bottom: 0.2em;
	outline: #aaa 1px solid;
	white-space: nowrap;
}
.timeLabel > span{
	background: white;
	display: inline-block;
	width: 10em; 
	text-align: right;
}
.timeLabel > span:AFTER{
	position: absolute;
	top: 0;
	border-left: 1px solid #aaa;
/* 	height: 1.2em; */
	height: 100%;
	content: ' ';
	z-index = -1;
}

.item{
	white-space: nowrap;
}

/* Tasks */
.viewGroup .taskName, .viewGroup > .add{
	display: inline-block;
	width: 10em;
	height: 1.5em;
	vertical-align: top;
	position: absolute;
	left: 0;
	background-color: rgba(255, 255, 255, 0.75);
	border: 1px solid rgba(187, 187, 187, 0.75);
	border-top-right-radius: 0.75em;
	border-bottom-right-radius: 0.75em;
	cursor: pointer;
	z-index: 10;
	overflow: hidden;
	text-overflow: ellipsis;
}
.viewGroup > .add{
	border-color: rgba(119, 119, 119, 0.75);
	border-width: 2px;
	font-weight: bold;
	bottom: 0
}

.viewGroup .taskName > span.name{
	display: inline-block;
	position: static;
}

.viewGroup .taskName > .itemButtons{
	display:none;
	
}

.viewGroup .taskName:hover > span.itemButtons{
	display:block;
	position: absolute;
	vertical-align: middle;
	z-index: 100;
	right: 0.25em;
}
.viewGroup .taskName:hover > span.itemButtons > span{
	display:inline-block;
	background-color: #eee;
	vertical-align: middle;
	border: 1px solid #aaa;
	width: 16px;
	opacity: 0.75;
}
.viewGroup .taskName:active > span.itemButtons > span{
	opacity: 1;
}

.viewGroup .taskName:hover > span.itemButtons > span:hover{
	border-color: black;
	opacity: 1;
}

.viewGroup .taskName:hover > span.itemButtons > span.delete{
	background-color: #fab;
}

/*Meters*/
.meter{
	display: inline-block;
	height: 1.2em;
	width: 2em;
	margin-top: 0.15em;
	border-color: black;
	border-style: solid;
	border-width: 1px 0 1px 0;
}

.start{
	background-color: transparent;
	border-color: transparent;
	margin-left: 10em;
}

.spentReg{
	background: #68c;
	border-color: #57b;
}

.spentReg::BEFORE{
	position:absolute;
	border-left: 1px solid rgba(0, 0, 0, 0.25);	
	content: ' ';
	height: 1.2em;
}

.remaining{
	background: #fea;
	border-color: #ed9;
}

.leftover{
	background: #1f5;
	border-color: #0e4;
}
.overdue{
	background: #f87;
	border-color: #e76;
}

.unreachable{
	background: transparent;
	background: repeating-linear-gradient(-45deg, transparent, transparent 0.25em, rgba(170,170,170,0.5) 0.25em, rgba(170,170,170,0.5) 0.5em);
	border-color: rgba(153,153,153,0.5); 
	border-right: 1px solid rgba(0, 0, 0, 0.25);
}

/* .unreachable::AFTER{ */
/* 	position:absolute; */
/* 	border-right: 1px solid black;	 */
/* 	content: ' '; */
/* 	height: 1.2em; */
/* } */

/********************************************/
/* Dialogs 								  	*/
/* Thees are projected to work with modals  */
/********************************************/

.formTable{
	display: table;
	margin: auto;
}

.formTable > .formLine{
	display: table-row;
}

.formTable > .formLine > *{
	display: table-cell;
}

.formTable > .formLine > label{
	padding-right: 0.25em;
	text-align: right;
}


/********/
/*FOOTER*/
/********/
