@CHARSET "UTF-8";

body{
	margin: 0;
	font-family: sans-serif;
}

/*HEADER*/
body > header, body > footer {
	background: #eee;
	border: #777 1px solid;
	border-top: #777 0.25em solid;
	border-bottom: #777 0.25em solid;
	border-radius: 0.5em;
	padding-left: 0.5em;
	font-variant: small-caps;
}
header h1 {
	display: inline-block;
}
header h2 {
	display: inline-block;
	font-size: medium;
	font-style: italic;
} 
/**********/
/***MAIN***/
/**********/
/******/
/*View*/
/******/
.viewGroup{
	background: #eee;
	position: relative;
	padding-left: 1px;
	padding-right: 0;	
	padding-bottom: 1.7em;
	right : 0;
	overflow: auto;
}

/* Labels */
.timeLabel{
	position: static;
	background: white;
	margin-left: 0;
	margin-bottom: 0.2em;
	outline: #aaa 1px solid;
	white-space: nowrap;
}
.timeLabel > span{
	background: white;
	display: inline-block;
	width: 10em; 
	text-align: right;
}
.timeLabel > span:AFTER{
	position: absolute;
	top: 0;
	border-left: 1px solid #aaa;
/* 	height: 1.2em; */
	height: 100%;
	content: ' ';
	z-index = -1;
}

.item{
	white-space: nowrap;
}

/* Tasks */
.viewGroup .taskName, .viewGroup > .add{
	display: inline-block;
	width: 10em;
	height: 1.5em;
	vertical-align: top;
	position: absolute;
	left: 0;
	background-color: rgba(255, 255, 255, 0.75);
	border: black 1px solid;
	border-top-right-radius: 0.75em;
	border-bottom-right-radius: 0.75em;
	cursor: pointer;
	z-index: 10;
}
.viewGroup > .add{
	border-width: 2px;
	font-weight: bold;
	bottom: 0
}

.viewGroup .taskName span{
	display:none;
}

.viewGroup .taskName:hover{
	width: 15em;
	padding-right: .5em;
}

.viewGroup .taskName:hover span{
	float: right;
	display:inline-block;
	background-color: #eee;
	vertical-align: middle;
	width: 16px;
	border: 1px solid #aaa;
}
.viewGroup .taskName:hover span:hover{
	border-color: black;
}

.viewGroup .taskName:hover span.delete{
	background-color: #fab;
}

/*Meters*/
.meter{
	display: inline-block;
	height: 1.2em;
	width: 2em;
	margin-top: 0.15em;
	border-color: black;
	border-style: solid;
	border-width: 1px 0 1px 0;
}

.start{
	background-color: transparent;
	margin-left: 10em;
	border-color: transparent;
}

.spentReg{
	background-color: #68c;
}

.spentReg:BEFORE{
	position:absolute;
	border-left: 1px solid black;	
	content: ' ';
	height: 1.2em;
}

.remaining{
	background-color: #fea;
}

.leftover{
	background-color: #0f5;
}
.overdue{
	background-color: #f87;
}

.overdue:AFTER{
	position:absolute;
	border-right: 1px solid black;	
	content: ' ';
	height: 1.2em;
}

/********************************************/
/* Dialogs 								  	*/
/* Thees are projected to work with modals  */
/********************************************/

.formTable{
	display: table;
	margin: auto;
}

.formTable > .formLine{
	display: table-row;
}

.formTable > .formLine > *{
	display: table-cell;
}

.formTable > .formLine > label{
	padding-right: 0.25em;
	text-align: right;
}


/********/
/*FOOTER*/
/********/
