@CHARSET "UTF-8";

body{
	margin: 0;
	font-family: sans-serif;
}

/*HEADER*/
body > header, body > footer {
	background: #eee;
	border: #777 1px solid;
	border-top: #777 0.25em solid;
	border-bottom: #777 0.25em solid;
	border-radius: 0.5em;
	padding-left: 0.5em;
	font-variant: small-caps;
}
header h1 {
	display: inline-block;
}
header h2 {
	display: inline-block;
	font-size: medium;
	font-style: italic;
} 
/**********/
/***MAIN***/
/**********/
/******/
/*View*/
/******/
.viewGroup{
	background: #eee;
	position: relative;
	padding-left: 1px;
	padding-right: 0;	
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	right : 0;
/* 	min-height: 12em; */
	overflow: auto;
	outline: black 1px solid;
}

/* Labels */
.timeLabel{
	background: white;
	position: absolute;
	margin-left: 10em;
	margin-top: -1.5em;
	outline: #aaa 1px solid;
	white-space: nowrap;
}
.timeLabel > span{
	display: inline-block;
	width: 10em; 
	outline: #aaa 1px solid;
	text-align: center;
}

/* Tasks */
.viewGroup .taskName, .viewGroup .add{
	display: inline-block;
	width: 10em;
	height: 1.5em;
	vertical-align: top;
	position: absolute;
	left: 0;
	background-color: rgba(255, 255, 255, 0.75);
	border: black 1px solid;
	border-top-right-radius: 0.75em;
	border-bottom-right-radius: 0.75em;
}
.viewGroup .add{
	font-weight: bold;
	bottom: 0
}

.meter{
	display: inline-block;
	height: 1.2em;
	width: 2em;
	margin-top: 0.15em;
	border-color: black;
	border-style: solid;
	border-width: 1px 0 1px 0;
}

.task{
	white-space: nowrap;
}

.start{
	background-color: transparent;
	margin-left: 10em;
	border-color: transparent;
}

.spentReg{
	background-color: #68c;
	border-left-width: 1px;
}

.remaining{
	background-color: #fea;
}

.leftover{
	background-color: #0f5;
}
.overdue{
	background-color: #f87;
	border-right-width: 1px;
}

/*************/
/*Edit/Insert*/
/*************/

/********************************************/
/* Dialogs 								  	*/
/* Thees are projected to work with modals  */
/********************************************/
.dialog {
	line-height: 2em;
}

.dialog label{
	position: absolute;
	right: 50%;
}
.dialog input, .dialog select{
	position: absolute;
	left: 50%;
	height: 1.5em;
}
.dialog label::AFTER {
	content: ' ';
	white-space: pre;
}

/********/
/*FOOTER*/
/********/
