/* Tasks */
.taskName {
	display: inline-block;
	width: 10em;
	height: 1.5em;
	vertical-align: top;
	position: absolute;
	left: 0;
	background-color: rgba(255, 255, 255, 0.75);
	border: 1px solid rgba(187, 187, 187, 0.75);
	border-top-right-radius: 0.75em;
	border-bottom-right-radius: 0.75em;
	cursor: pointer;
	z-index: 10;
	overflow: hidden;
	text-overflow: ellipsis;
}

.placeholder > .taskName{
	font-style: italic;
	color: darkgray;
	background-color: rgba(255, 255, 255, 0.25);
}

.taskName.selected {
	border-left: 4px solid black;
}

.item.collapsed > .taskName{
	border-bottom-right-radius: 0;
/* 	color: rgba(0, 0, 0, 0.5); */
	background-color: rgba(224, 224, 224, 0.75);
}

.taskName > .name {
	display: inline-block;
	position: static;
	text-overflow: ellipsis;
	overflow: hidden;
	width: inherit;
	font-family: sans-serif;
	font-size: 12pt;
}

.taskName.closed > .name {
	text-decoration: underline solid black;
}

.taskName > input {
	padding: 0;
	margin: 0;
	border: 0;
	background: transparent;
}

.taskName > .itemButtons{
	display:none;
}

.taskName:hover > span.itemButtons{
	display:block;
	position: absolute;
	vertical-align: middle;
	z-index: 100;
	right: 0.25em;
}
.taskName:hover > span.itemButtons > span{
	display:inline-block;
	background-color: #eee;
	vertical-align: middle;
	border: 1px solid #aaa;
	width: 16px;
	opacity: 0.75;
}
.taskName:active > span.itemButtons > span{
	opacity: 1;
}

.taskName:hover > span.itemButtons > span:hover{
	border-color: black;
	opacity: 1;
}

.taskName:hover > span.itemButtons > span.delete{
	background-color: #fab;
}
