.item{
	white-space: nowrap;
}

/* This hides collapsed things*/
.collapsed .item{
	display: none;
}

.item.collapsed > .taskName > span.itemButtons > span.ui-icon-folder-open{
	display: none;
}

.item:not(.collapsed) > .taskName > span.itemButtons > span.ui-icon-folder-collapsed{
	display: none;
}

.item > .item{
	background-color: rgba(0, 0, 0, 0.1 );
}

.item > .item:first-of-type{
	margin-top: -0.5em;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.1 ) 80%, transparent);
}

.item > .item:last-of-type{
	margin-bottom: 0.25em;
}
