
.detail {
  position: absolute;
  left: 10.5em;
  left: calc(10em + 4px);
	background-color: rgba(255, 255, 255, 0.75);
	border: 1px solid rgba(187, 187, 187, 0.75);
  border-left: 0;
  min-height: 1.5em;
	border-top-right-radius: 0.75em;
	border-bottom-right-radius: 0.75em;
  padding-right: 0.75em;
}

.detail input {
  width: 5em;
}

.detail::before {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 1.5em;
  width: 1px;
  background-color: rgba(187, 187, 187, 0.75);
  content: '';
}
